# Node.js
Server/node_modules/
/.DS_Store/
Server/package-lock.json



# Logs
*.log
Server/logs/

# Build files and caches
Client/dist/
Client/build/


# Dependency directories
Client/node_modules/



# IDE-specific files
.vscode/
.idea/
*.swp
*.swo
*.swn
*.swd
